# Document Classification with Naive Bayes - Lab

## Introduction

In this lesson, you'll practice implementing the Naive Bayes algorithm on your own.

## Objectives

In this lab you will:  

* Implement document classification using Naive Bayes

## Import the dataset

To start, import the dataset stored in the text file `'SMSSpamCollection'`.

In [1]:
# Your code here
!ls -ltr

total 500
-rw-r--r-- 1 poari 197609   1849 Sep 26 18:08 CONTRIBUTING.md
-rw-r--r-- 1 poari 197609   1371 Sep 26 18:08 LICENSE.md
-rw-r--r-- 1 poari 197609   2355 Sep 26 18:08 README.md
-rw-r--r-- 1 poari 197609 483481 Sep 26 18:08 SMSSpamCollection
-rw-r--r-- 1 poari 197609   9352 Sep 27 07:31 index.ipynb

In [2]:

import pandas as pd
df= pd.read_csv('SMSSpamCollection',names= ['label','text'],sep='\t')
df

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

## Account for class imbalance

To help your algorithm perform more accurately, subset the dataset so that the two classes are of equal size. To do this, keep all of the instances of the minority class (spam) and subset examples of the majority class (ham) to an equal number of examples.

In [16]:
# Your code here
import numpy as np
print(df['label'].value_counts())
# extract the ham rows in a separate df
df_ham=df[df['label']=='ham']
print(df_ham.shape)
# reset index of df_ham
df_ham.reset_index(inplace = True)
# generate 747 random numbers in the interval 0-4824
indices = np.random.randint(0, 4825, 747)
df_ham_select=df_ham.iloc[list(indices)]
df_ham_select.shape
df_ham.columns
df_ham

ham     4825
spam     747
Name: label, dtype: int64
(4825, 2)

      index label                                               text
0         0   ham  Go until jurong point, crazy.. Available only ...
1         1   ham                      Ok lar... Joking wif u oni...
2         3   ham  U dun say so early hor... U c already then say...
3         4   ham  Nah I don't think he goes to usf, he lives aro...
4         6   ham  Even my brother is not like to speak with me. ...
...     ...   ...                                                ...
4820   5565   ham                                       Huh y lei...
4821   5568   ham               Will ü b going to esplanade fr home?
4822   5569   ham  Pity, * was in mood for that. So...any other s...
4823   5570   ham  The guy did some bitching but I acted like i'd...
4824   5571   ham                         Rofl. Its true to its name

[4825 rows x 3 columns]

## Train-test split

Now implement a train-test split on the dataset:

In [ ]:
# Your code here
from sklearn.model_selection import train_test_split
X = None
y = None
X_train, X_test, y_train, y_test = None
train_df = None
test_df = None

## Create the word frequency dictionary for each class

Create a word frequency dictionary for each class:

In [ ]:
# Your code here

## Count the total corpus words
Calculate V, the total number of words in the corpus:

In [ ]:
# Your code here

## Create a bag of words function

Before implementing the entire Naive Bayes algorithm, create a helper function `bag_it()` to create a bag of words representation from a document's text.

In [ ]:
# Your code here

## Implementing Naive Bayes

Now, implement a master function to build a naive Bayes classifier. Be sure to use the logarithmic probabilities to avoid underflow.

In [ ]:
# Your code here
def classify_doc(doc, class_word_freq, p_classes, V, return_posteriors=False):
    pass

## Test your classifier

Finally, test your classifier and measure its accuracy. Don't be perturbed if your results are sub-par; industry use cases would require substantial additional preprocessing before implementing the algorithm in practice.

In [ ]:
# Your code here

## Level up (Optional)

Rework your code into an appropriate class structure so that you could easily implement the algorithm on any given dataset.

## Summary

Well done! In this lab, you practiced implementing Naive Bayes for document classification!